
.nav-bar {
    display: none;
}
.header-one {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px;

}

.header-one>.Logo {}

.btn-contact {
    display: none;
}

.header-one>#btn-mobile {
    border: none;
    background: none;

}

#btn-mobile.ativo .icons-open {
    display: none;

}

#btn-mobile.ativo::before {
    content: url(/assets/color/close_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg);
}

.header-one>#mobile {
    position: absolute;
    flex-direction: column;
    top: 60px;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: black;
    z-index: 99;
}

#mobile {
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.4s ease;
}

#mobile.abrir {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}

.header-one>#mobile>ul {
    margin-top: 10px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

.header-one>#mobile>ul>.list-mobile {
    margin-top: 5px;
}

#mobile>ul>.list-mobile>.list-item {
    color: #fff;
    font-size: 20px;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    font-weight: 600;
}

.list-mobile>.list-item:hover {
    background-color: #1d8a01;
    border-radius: 5px;
}

#mobile>.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    max-width: 800px;
    margin: 10px auto;
    border-radius: 5px;
    background: none;
    color: #fff;
    border: 1px solid #1d8a01;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

#mobile>.contact:hover {
    background-color: #1d8a01;
    
}