.banner {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 10px;
    background-image: url(/assets/color/fundo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

@media screen and (min-width: 350px) {
    .banner {
        justify-content: center;
    }
}



.shop {
    width: 100%;
    max-width: 250px;
    margin: 20px auto;
    text-align: center;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #1d8a01;
    border-radius: 50px;
}


.banner-h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 1023px;
    text-align: center;
    color: #fff;
    font-size: 35px;
}

.banner-h2>span {
    color: #1d8a01;
}

@media screen and (min-width: 350px) {
    .banner-h2 {
        font-size: 45px;
    }
}

.banner-p {
    width: 100%;
    max-width: 1023px;
    text-align: center;
    color: #fff;
}

@media screen and (min-width: 350px) {
    .banner-p {
        font-size: 20px;
    }
}

.banner-btn {
    width: 100%;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.banner-btn>.btn-produtos {
    padding: 10px 20px;
    color: #fff;
    background-color: #1d8a01;
    width: 100%;
    text-align: center;
    border-radius: 10px;
}

.banner-btn>.btn-servicos {
    width: 100%;
    border: 1px solid #1d8a01;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
}

.banner-btn>.btn-servicos:hover {
    background-color: #1d8a01;
}

@media screen and (min-width: 606px) {
    .banner-btn {
        flex-direction: row;
        width: 100%;

    }

    .banner-btn>.btn-produtos {
        max-width: 220px;
    }

    .banner-btn>.btn-servicos {
        max-width: 220px;
    }
}

.banner-suport {
    width: 100%;
    width: auto;
    display: grid;
    grid-template-columns: auto;

}

@media screen and (min-width: 722px) {
    .banner-suport {
        grid-template-columns: 1fr 1fr 1fr;

        gap: 20px;
    }
}

.suport {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 30px 0;

}

.suport>.icons-suport {
    background-color: #232423;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.suport>.paragraph>.paragraph-h4 {
    margin-bottom: 5px;
}