.banner {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 10px;
    background-image: url(/assets/color/fundo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

@media screen and (min-width: 350px) {
    .banner {
        justify-content: center;
    }
}



.shop {
    margin-top: 100px;
    width: 100%;
    max-width: 250px;
    text-align: center;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #1d8a01;
    border-radius: 50px;
}


.banner-h2 {
    margin-top: 30px;
    margin-bottom: 15px;
    width: 100%;
    max-width: 1023px;
    text-align: center;
    color: #fff;
    font-size: 35px;
    font-family: "Outfit", sans-serif;
}

.banner-h2>span {
    color: #1d8a01;
}

@media screen and (min-width: 350px) {
    .banner-h2 {
        font-size: 45px;
    }
}

.banner-p {
    width: 100%;
    max-width: 1023px;
    text-align: center;
    color: rgb(153, 153, 153);
    margin-bottom: 30px;
}

@media screen and (min-width: 350px) {
    .banner-p {
        font-size: 20px;
    }
}

.banner-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.banner-btn>.btn-produtos {
    padding: 10px 20px;
    color: #000000;
    background-color: #1d8a01;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 2px 0px 15px #2ac403;
}

.banner-btn>.btn-servicos {
    width: 100%;
    border: 1px solid #1d8a01;
    padding: 10px 20px;
    border-radius: 10px;
    color: #1d8a01;
    text-align: center;
    font-weight: bold;

}

.banner-btn>.btn-servicos:hover {
    background-color: #1d8a01;
    color: #000000;
    box-shadow: 2px 0px 15px #2ac403;
}

@media screen and (min-width: 606px) {
    .banner-btn {
        flex-direction: row;
        width: 100%;

    }

    .banner-btn>.btn-produtos {
        max-width: 220px;
    }

    .banner-btn>.btn-servicos {
        max-width: 220px;
    }
}

.banner-suport {
    width: 100%;
    width: auto;
    display: grid;
    grid-template-columns: auto;
    margin-bottom: 100px;

}

@media screen and (min-width: 722px) {
    .banner-suport {
        grid-template-columns: 1fr 1fr 1fr;

        gap: 20px;
    }
}

.suport {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 30px 0;

}

.suport>.icons-suport {
    background-color: #232423;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.suport>.paragraph>.paragraph-h4 {
    margin-bottom: 5px;
}

.paragraph-p {
    color: #868585;
}