.services {
    padding: 15px;
    height: 100%;
    background-color: #101010;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.services-legends {
    margin-top: 30px;
    text-align: center;
}

.legends-page {
    text-transform: uppercase;
    color: #1d8a01;
    margin: 10px 0;
}

.h2-page {
    font-family: "Outfit", sans-serif;
    font-size: 35px;
    margin-bottom: 10px;
}

.h2-page>span {
    color: #1d8a01;
}

.description-page {
    color: #868585;
}


.services-div {
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
}


.services-item {
    width: 100%;
    border-radius: 15px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding: 15px;
    border: 1px solid hsl(0 0% 18%);
    flex-grow: 1;
}
.services-item:hover {
    border: 1px solid #1d8a01;
    box-shadow:1px 1px 10px #1d8a01;

}

.square-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #232423;
    margin-bottom: 10px;
}

.services-item__h3 {
    margin-bottom: 10px;
}