.services {}

.services-legends {
    margin-top: 50px;
    text-align: center;
}

.legends-page {
    text-transform: uppercase;
    color: #1d8a01;
    margin: 10px 0;
}

.h2-page {
    font-family: "Outfit", sans-serif;
    font-size: 35px;
    margin-bottom: 10px;
}
.h2-page > span {
    color:#1d8a01;
}
.description-page {
    color: #868585;
}