.e-commerce {
    height: 100%;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    position: relative;
}
.e-commerce>.e-commerce__legends {
    margin-top: 50px;
    text-align: center;
}
.e-commerce__legends>.legends-p {
    text-transform: uppercase;
    color: #1d8a01;
    margin: 10px 0;
}
.e-commerce__legends>.legends-h2{
    font-family: "Outfit", sans-serif;
    font-size: 35px;
    margin-bottom: 10px;
}
.legends-h2>span {
    color: #1d8a01;
}
.legends-p__two{
    color: #868585;
}
.shop-article {
    margin-top: 30px;
    width: 100%;
    max-width: 430px;
    border-radius: 10px;
    border: 1px solid rgba(177, 175, 175, 0.1);
    box-shadow: 4px 4px 20px solid #fff;
}
.shop-article > .shop_img {
    margin-bottom: 10px;
}
.shop-article > .shop_img img {
    width: 100%;
    max-width: auto;
    border-radius: 10px 10px 0 0;
    
}

.shop-legends {
    padding: 10px;
    
}
.shop-legends > .assessment{
    margin-bottom: 5px;
}
.shop-legends > .description__product {
    margin-bottom: 20px;
}

.shop-legends > .value {
    text-decoration-line: line-through;
    color: hsl(0 0% 60%);
    margin-bottom: 5px;
}

.shop-legends > .value-promo {
    color: #1d8a01;
    font-size: 20px;
    margin-bottom: 20px;
}

.btns-shop {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.btn-whatssap {
    display: inline-block;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
    width: 100%;
    max-width: 300px;
    background-color: #1d8a01;
    color: #000;
    border-radius: 50px;
    font-weight: 600;
}

.btn-mercado__livre {
    display: inline-block;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
    width: 100%;
    max-width: 300px;
    background-color: #FFE600;
    color: #000;
    border-radius: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

.e-commerce__shop {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    max-width: 400px;
    
}

@media screen and (min-width: 650px) {
    .e-commerce__shop {
    display: grid;
    grid-template-columns: 350px 350px;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

}

@media screen and (min-width: 1023px) {
    .e-commerce__shop {
    display: grid;
    grid-template-columns: 380px 380px 380px;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 450px;
    gap: 20px;

}
}
.btn-Learn {
    text-align: center;
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn-Learn > p {
    text-transform: uppercase;
    color: #1d8a01;
    margin-bottom: 20px;
    font-weight: 600;
}

.btn-Learn > .link-shop{
    padding: 10px 20px;
    width: 100%;
    max-width: 450px;
    background-color: #FFE600;
    border-radius: 50px;
    margin-bottom: 20px;
    color: #000;
}


.next {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #fff;
    border: 1px solid #1d8a01;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 99;
    right: 10px;
    top: 50%;
}

